<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center" *ngIf="todo">
    <ion-col size="12" size-sm="12" size-md="6">
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ todo.title }} </ion-card-title>
          <ion-card-subtitle>{{todo.date | date: 'dd/mm/yyyy' }}</ion-card-subtitle>
          <ion-card-content> {{todo.desc}} </ion-card-content>
        </ion-card-header>
      </ion-card>
    
    </ion-col>
  </ion-row>
</ion-content>
